
@{
    ViewBag.Title = "CompleteCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Rezervasyonunuz oluşturulmuştur. İyi Tatiller dileriz.</h1>
<h2><strong><i>Bilge Hotel Ailesi...</i></strong></h2>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

