@model List<DAL.Entity.Oda>
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>
    <div class="text-secondary px-4 py-5 text-center">
        <div class="py-5">
            <h1 class="display-5 fw-bold text-white">Northway Airlines</h1>
            <div class="col-lg-6 mx-auto">
                <p class="fs-5 mb-4" style="color:cornflowerblue"><br />Bilge Hotel'e hoşgeldiniz!<br />ODALARIMIZ</p>
                <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
                    
                    <!--Oda-->
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown button
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>
                    <!--tarih-->
                    <div>
                        Giriş:
                        <input type="date" class="form-control" />
                        Çıkış:
                        <input type="date" class="form-control" />
                    </div>
                    <!--Kisi Sayisi-->
                    <div>
                        <select class="form-select" aria-label="Default select example">
                            <option selected>Kişi Sayısı</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <!--Ucus Ara-->
                    <button type="button" class="btn btn-primary">Oda Seç</button>
                </div>
            </div>
        </div>
    </div>
</main>