@model CartItemVM
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>
    <section>
        <div class="text-secondary px-4 py-5 text-center">
            <div class="py-5">
                <div class="col-lg-6 mx-auto">
                    <h1 style="color:darkblue"><br />Bilge Hotel'e hoşgeldiniz!</h1><br /><h3 style="color:midnightblue">ODALARIMIZ</h3>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">


                        <!--Oda Tipi-->
                        <div class="card-body">
                            <table id="datatablesSimple" class="table table-bordered">
                                <thead>
                                        <tr>
                                            <th>Odalar</th>
                                            <th>Fiyat</th>
                                        </tr>

                                    </thead>
                                <tbody>
                                    @foreach (var oda in TempData["odalar"] as List<DAL.Entity.Oda>)
                                    {
                                        <tr>
                                            <td>@oda.OdaTuru</td>
                                            <td>@oda.Fiyat</td>
                                            <td>
                                                <div class="text-center">
                                                    @Html.ActionLink("Seç", "AddRoomToCart", new { id = oda.OdaID }, new { @class = "btn btn-outline-dark mt-auto" })
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!--Tarih-->
                        @*<div>
                                Giriş:
                                <input type="date" class="form-control" />
                                Çıkış:
                                <input type="date" class="form-control" />
                            </div>*@

                        <!--Tatil Paketi Seç-->
                        <div>
                            @Html.ActionLink("Tatil Paketi Seç", "TatilPaketi", "Home", null, new { @class = "btn btn-outline-dark" })
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

