@model CartItemVM
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>
    <section>
        <div class="text-secondary px-4 py-5 text-center">
            <div class="py-5">
                <div class="col-lg-6 mx-auto">
                    <h3 style="color:midnightblue">TARİH SEÇİNİZ</h3>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">

                        <div class="card-body">
                            <form method="post">
                                Giriş:
                                <br />
                                <input type="date" id="KonaklamaBaslangic" class="form-control" />
                                <br />
                                <div class="text-center">
                                    <button type="submit" id="KonaklamaBaslangic" class="btn btn-primary btn-block mt-3">Seç</button>
                                </div>
                                <br />
                                Çıkış:
                                <br />
                                <input type="date" id="KonaklamaBitis" class="form-control" />
                                <div class="text-center">
                                    <button type="submit" id="KonaklamaBitis" class="btn btn-primary btn-block mt-3">Seç</button>
                                </div>
                                <br /><br />
                                @Html.ActionLink("Rezervasyon Oluştur", "MyCart", "Home", null, new { @class = "btn btn-outline-dark" })
                            </form>
                        </div>

                    </div>



                </div>
            </div>
        </div>
    </section>
</main>



