@model CartItemVM
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main>
    <section>
        <div class="text-secondary px-4 py-5 text-center">
            <div class="py-5">
                <div class="col-lg-6 mx-auto">
                    <h3 style="color:midnightblue">TATİL PAKETLERİ</h3>
                    <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">

                        <div class="card-body">
                            <table id="datatablesSimple" class="table table-bordered">
                                @*<thead>
                                    <tr>
                                        <th>Tatil Paketleri</th>
                                    </tr>

                                </thead>*@
                                <tbody>
                                    @foreach (var tatil in TempData["tatil"] as List<DAL.Entity.TatilPaketi>)
                                    {
                                        <tr>
                                            <td>@tatil.TatilTipi</td>
                                            <td>
                                                <div class="text-center">
                                                    @Html.ActionLink("Seç", "AddPackageToCart", new { id = tatil.TatilPaketiID }, new { @class = "btn btn-outline-dark mt-auto" })
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                       
                       
                        <div>
                            @Html.ActionLink("Tarih Seç", "Tarih", "Home", null, new { @class = "btn btn-outline-dark" })
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

